---
import SeoHead from '../components/SeoHead.astro';
import SiteHero from '../components/SiteHero.astro';
import { getMarketingPage } from '../lib/pages';
import styles from './index.module.css';

const page = getMarketingPage('/');
---

<!doctype html>
<html lang='fr'>
  <head>
    <SeoHead
      title={page.title}
      description={page.metaDescription}
      canonicalPath={page.slug}
    />
  </head>
  <body class={styles.page}>
    <main>
      <SiteHero title={page.h1 ?? undefined} primaryCta={page.primaryCta} />
    </main>
  </body>
</html>
